extends layout
include _mixins/movie-card

block content
  div(class='row mt-5')
    h2 Newest Movies
    div(class='card-group')
      each movie in newestMovies
        +movieCard(movie)
    h2 Top rated Movies
    div(class='card-group')
      each movie in bestRatedMovies
        +movieCard(movie)
