extends layout
include _mixins/movie-card

block content
  div(class='row mt-5')
    h2 Newest Movies
    div(class='card-group')
      each movie in newestMovies
        +movieCard(movie)
    h2 Top rated Movies (imdb)
    div(class='card-group')
      each movie in bestRatedMovies
        +movieCard(movie)
    h2 Most watched by User
    div(class='card-group')
      each movie in mostWatched
        +movieCard(movie)
    h2 Latest Blogposts
    div(class='card-group')
      each post in posts
        div(class='col-3')
          a(href=`/blog/${post.title}`)
            div(class="card border-primary")
              div(class="card-header")
                div(class="card-body text-primary")
                  h5(class="card-title")= post.title
                  span(class="card-text small")= `by ${post.author.name}`
