doctype html
html
  head
    title MDBO
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body

    div(class='container-fluid')
      block header
        header(class='row')
          div(class='col')
            nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
              a(class='navbar-brand' href='/') MDBO
              button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span(class='navbar-toggler-icon')
              div(class='collapse navbar-collapse' id='navbarSupportedContent')

                ul(class='navbar-nav mr-auto')
                  li(class='nav-item')
                    a(class='nav-link' href='/movies') Movies
                  li(class='nav-item')
                    a(class='nav-link' href='/stats') Statistics

                form(class='search-box form-inline my-2 my-lg-0')
                  input(class='search form-control mr-sm-2' type='search' placeholder='Search' aria-label='Search')
                  div(class='search-results')
                    ul

                ul(class='navbar-nav')
                  if user
                    li(class="nav-item dropdown")
                      a(class="nav-link dropdown-toggle" href="#")= user.name ? user.name : user.email
                      div(class="dropdown-menu")
                        - const userRole = user.role;
                        if(userRole === 'admin')
                          a(class='dropdown-item text-primary' href='/add-movie') Add Movie
                          div(class="dropdown-divider")
                        a(class="dropdown-item" href="/settings") Settings
                        div(class="dropdown-divider")
                        a(class="dropdown-item" href="/watchlist") Watchlist
                        div(class="dropdown-divider")
                        a(class='dropdown-item' href=`/logout`) Logout
                  else
                    li(class='nav-item')
                      a(class='nav-link' href='/login') Login

    div(class='container-fluid')
      div(class='row')
        div(class='col')
          block messages
            if locals.flashes
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  div(class=`d-flex flex-row align-items-center flash-msg active alert alert-${category}` role='alert')
                    span(class='d-block mr-auto')= message
                    button(class='btn btn-dark' onClick="this.parentElement.remove()") Close

    div(class='container mt-5')
      block content

    div(class='container-fluid fixed-bottom')
      footer(class='bg-primary text-white')
        a(class='d-block text-center text-white' href='https://github.com/sierie85/100-days-of-code-challenge' target='_blank') visit project on GitHub

    block scripts
      script(src="/dist/app.bundle.js")
