extends layout
include mixins/movie-card

block content
  h1 Movies
  div
    a(class='btn btn-success' href='/add-movie') Add Movie
  div
    div(class='card-group')
      each movie in movies
        +movieCard(movie)
