extends layout

block content
  h1 Watchlist
  div(class='row')
    div(class='col-8')
      table(class='table table-sm')
        thead(class='thead-dark')
          tr
            th(scope='col') Name
            th(scope='col') Rating
            th(scope='col')
        tbody
          each item in list
            each movie in item.movie
              tr
                td
                  a(href=`/movies/${movie.name}`)=movie.name
                td=movie.imdbRating
                td
                  p= JSON.stringify(schema)
                  p= JSON.stringify(movie._id)
