extends layout

block content
  h1 Watchlist
  div(class='row')
    div(class='col-8')
      table(class='table table-sm')
        thead(class='thead-dark')
          tr
            th(scope='col') Name
            th(scope='col') Rating
            th(scope='col')
        tbody
          each item in watchlist
            each movie in item.movie
              tr
                td
                  a(href=`/movies/${movie.name}`)=movie.name
                td=movie.imdbRating
                td
                  form(method='POST' action='/delete-from-watchlist')
                    input(type='hidden' name='movieid' value=`${movie._id}`)
                    input(type='submit' value='X')
