mixin movieCard(movie = {})

  div(class='card col-3')
    a(href=`movies/${movie.name}`)
      img(class='card-img-top' src=`${movie.poster}` alt=`${movie.name}`)
      div(class='card-footer')
        p=movie.name

