extend ../layout

block content
  h1 Settings
  div(class='row')
    div(class='col-6')
      form(method='POST')
        input(type='hidden' name='_id' value=`${user._id}`)
        div(class='form-group')
          label(for='email') Email
          input(type='text' class='form-control' id='email' name='email' disabled value=`${user.email}`)
        div(class='form-group')
          label(for='name') Name
          input(type='name' class='form-control' id='name' name='name' value=`${user.name ? user.name : ''}`)
        div(class='form-group')
          input(type='submit' class='form-control btn btn-success' value='UPDATE PROFIL')

  hr

  div(class='row mt-5')
    div(class='col-6')
      button(class='delete-modal btn btn-danger') Delete Account

    div(class="modal micromodal-slide" id="modal-1" aria-hidden="true")
      div(class="modal__overlay" tabindex="-1" data-micromodal-close)
        div(class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title")
          header(class="modal__header")
            h2(class="modal__title" id="modal-1-title") Delete Account
            button(class="modal__close" aria-label="Close modal" data-micromodal-close)
          main(class="modal__content" id="modal-1-content")
            p Please confirm with your email address if you want to delete your account. Please be aware that your data wont be able to restored!
            input(type="text" class="form-control account-email" placeholder="your@mail.address")
          footer(class="modal__footer")
            button(class="btn btn-danger mr-3 delete-account") Delete
            button(class="btn" data-micromodal-close aria-label="Close this dialog window") Close


