extends ../layout

block content
  div(class='row')
    div(class='col-6 m-auto')
      h1 Reset password
      form(method='POST')
        div(class='form-group')
          label(for='email') E-Mail
          input(type='text' class='form-control' id='email' name='email')
        div(class='form-group')
          input(type='submit' class='form-control btn btn-info' value='Reset password')
