extend ../layout

block content
  h1 Settings
  div(class='row')
    div(class='col-6')
      form(method='POST')
        input(type='hidden' name='_id' value=`${user._id}`)
        div(class='form-group')
          label(for='email') Email
          input(type='text' class='form-control' id='email' name='email' disabled value=`${user.email}`)
        div(class='form-group')
          label(for='name') Name
          input(type='name' class='form-control' id='name' name='name' value=`${user.name ? user.name : ''}`)
        div(class='form-group')
          input(type='submit' class='form-control btn btn-success' value='UPDATE PROFIL')
